* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  color: #232323;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    ul {
      display: flex;
      gap: 30px;
    }
  }
}

main {
  padding: 40px 20px;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
  }

  .expenses {
    .expenses-inner {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-height: 380px;
      overflow-y: auto;
      padding: 0 20px 20px 0;

      .expense {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        border-radius: 10px;

        >div {
          img {
            max-width: 30px;
          }

          display: flex;
          gap: 20px;

          .expense-content {
            width: 200px;
            display: flex;
            flex-direction: column;
          }
        }

        span {
          font-size: 1.25rem;
          font-weight: 600;
        }

        &.dining {
          background: linear-gradient(to bottom right, #abf5fa, #ffffff);
        }

        &.entertainment {
          background: linear-gradient(to bottom right, #d9abfa, #ffffff);
        }

        &.groceries {
          background: linear-gradient(to bottom right, #fff698, #ffffff);
        }

        &.healthcare {
          background: linear-gradient(to bottom right, #ff9898, #ffffff);
        }

        &.rent {
          background: linear-gradient(to bottom right, #98c6ff, #ffffff);
        }

        &.shopping {
          background: linear-gradient(to bottom right, #ffc398, #ffffff);
        }

        &.transportation {
          background: linear-gradient(to bottom right, #a2ff98, #ffffff);
        }
        &.etc{
          background: linear-gradient(to bottom right, #a6a6a6, #ffffff)
        }

        position: relative;

        .expense-buttons {
          background: rgba(0, 0, 0, 0.7);
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          display: flex;
          justify-content: center;
          gap: 25px;
          align-items: center;
          border-radius: 10px;

          img {
            cursor: pointer;
          }

          opacity: 0;
          transition: opacity 0.2s ease;
        }

        &:hover {
          .expense-buttons {
            opacity: 1;
          }
        }
      }
    }

    button {
      padding: 12px 24px;
      background: #fff;
      border: 1px solid #adaaaa;
      font-size: 1.125rem;
      color: #232323;
      cursor: pointer;
      transition: 0.2s ease;
      margin-top: 20px;
      width: calc(100% - 35px);

      &:hover {
        background: #232323;
        border: 1px solid #232323;
        color: #fff;
      }
    }
  }

  .chart {
    #myChart {
      padding-top: 20px;
    }
  }
   
}



/* 기본 모달 스타일 */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.add-expense-modal-content{
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input, .input-group select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.buttons {
display: flex;
justify-content: space-between;
}

.btn {
padding: 10px 20px;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
flex: 1;
margin: 5px;
}

.btn.save {
background-color: #f56363;
color: #fff;
}
.container-modaler {
padding: 20px;
max-width: 400px;
margin: auto;
}

/* Modal for Summary */
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
} */

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 10%;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  overflow-y: scroll;
  position: relative;
}

/* .close {
  color: #aaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 30px
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

#category-text {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 5%;
}

/* Summary info */
.summary-info {
  margin-top: 5%;
}

.expense-item {
  margin: 300px auto;
}

.total-amount {
  position: relative;
  bottom: 10%;
}

.total-amount hr {
  margin-bottom: 10px;
}